In [1]:
import pandas as pd
df = pd.read_csv("car.csv")
df.head(10)

   Distance  Year  Price
0       500     5   2500
1       600     3   1800
2       100     2   1000
3       400     6   3000
4       800     9   7000
5       700     4   4000

In [10]:
x = df[['Distance', 'Year']]
y = df['Price']
x

   Distance  Year
0       500     5
1       600     3
2       100     2
3       400     6
4       800     9
5       700     4

In [11]:
y

0    2500
1    1800
2    1000
3    3000
4    7000
5    4000
Name: Price, dtype: int64

In [12]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.3, random_state=1)

In [13]:
x_train

   Distance  Year
4       800     9
0       500     5
3       400     6
5       700     4

In [14]:
x_test

   Distance  Year
2       100     2
1       600     3

In [15]:
y_train

4    7000
0    2500
3    3000
5    4000
Name: Price, dtype: int64

In [16]:
y_test

2    1000
1    1800
Name: Price, dtype: int64

In [17]:
from sklearn.linear_model import LinearRegression
clf = LinearRegression()
clf

LinearRegression()

In [18]:
clf.fit(x_train, y_train)
clf.predict(x_test)

array([-1375.,  2625.])

In [19]:
clf.score(x_test, y_test)

-18.75390624999995

In [20]:
clf.coef_

array([  7., 500.])

In [25]:
clf.intercept_

-3074.9999999999955

In [26]:
clf.predict([[650, 4]])

array([3475.])

In [27]:
7.0*650+500.0*4+-3074.9999999999955

3475.0000000000045